{% extends 'base.html' %}

{% block content %}
<!-- Table -->
<div class="container text-center">
    <div class="row align-items-start">
        <!-- !> Data -->
        <div class="col all-col">
            Data
            {% for i in items %}
            <h4 class="title table mt-4">{{ i.data }}</h4>
            {% endfor %}
        </div>
        <!-- !> Year -->
        <div class="col all-col">
            Ano
            {% for i in items %}
            <h4 class="title table mt-4">{{ i.ano }}</h4>
            {% endfor %}
        </div>
        <!-- !> Month -->
        <div class="col all-col">
            Mês
            {% for i in items %}
            <h4 class="title table mt-4">{{ i.mes }}</h4>
            {% endfor %}
        </div>
        <!-- !> Transaction -->
        <div class="col all-col">
            C/D
            {% for i in items %}
            <h4 class="title table mt-4">{{ i.transacao }}</h4>
            {% endfor %}
        </div>
        <!-- !> Vehicle -->
        <div class="col all-col">
            Veículo
            {% for i in items %}
            <h4 class="title table mt-4">{{ i.veiculo }}</h4>
            {% endfor %}
        </div>
        <!-- !> Recipe Suggestion -->
        <div class="col all-col">
            Sugestão de Receita
            {% for i in items %}
            <h4 class="title table mt-4">{{ i.sug_receita }}</h4>
            {% endfor %}
        </div>
        <!-- !> Recipe -->
        <div class="col all-col">
            Receita
            {% for i in items %}
            <h4 class="title table mt-4">{{ i.receita }}</h4>
            {% endfor %}
        </div>
        <!-- !> Description -->
        <div class="col all-col">
            Descrição
            {% for i in items %}
            <h4 class="title table mt-4">{{ i.descricao }}</h4>
            {% endfor %}
        </div>
        <!-- !> NF -->
        <div class="col all-col">
            Nota Fiscal
            {% for i in items %}
            <h4 class="title table mt-4">{{ i.nf }}</h4>
            {% endfor %}
        </div>
        <!-- !> Amount -->
        <div class="col all-col">
            Qnt
            {% for i in items %}
            <h4 class="title table mt-4">{{ i.quantidade }}</h4>
            {% endfor %}
        </div>
        <!-- !> Value -->
        <div class="col all-col">
            Valor
            {% for i in items %}
            <h4 class="title table mt-4">{{ i.valor }}</h4>
            {% endfor %}
        </div>
        <!-- !> Total -->
        <div class="col all-col">
            Total
            {% for i in items %}
            <h4 class="title table mt-4">{{ i.valor }}</h4>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}