{% extends 'base.html' %}

{% block content %}

<div class="container-sm text-start user-register-form">
    <form method="POST" action="{{ url_for('user_register') }}">
        {{ form.csrf_token }}

        {% for error in form.password.errors %}
        <h4>{{ error }}</h4>
        {% endfor %}
        <div class="mb-4">
            <label class="form-label">Nome</label>
            {{ form.name }}
        </div>
        <div class="mb-4">
            <label class="form-label">Sobrenome</label>
            {{ form.surname }}
        </div>
        <div class="mb-4">
            <label class="form-label">Nome de Usúario</label>
            {{ form.username }}
        </div>
        <div class="mb-4">
            <label class="form-label">Senha</label>
            {{ form.password }}
        </div>
        <div class="mb-5">
            <label class="form-label">Insira novamente sua senha</label>
            {{ form.repassword }}
        </div>
        <div class="text-center">
            {{ form.register_btn(class_="btn btn-success") }}
        </div>
    </form>
</div>


{% endblock %}