<!-- Nav tabs -->
<div class="bg-navbar">
  <ul class="nav nav-pills justify-content-center main-navbar">
    <li class="nav-item">
      <a class="nav-link {% if request.path == url_for('home_page') %}active{% endif %}" aria-current="page"
        href="{{url_for('home_page')}}">Registro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.path == url_for('veiculos') %}active{% endif %}"
        href="{{url_for('veiculos')}}">Veículos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.path == url_for('receitas') %}active{% endif %}"
        href="{{url_for('receitas')}}">Receitas</a>
    </li>
  </ul>
</div>