<table class="container text-center table table-dark t-form">
    <form method="POST" action="{{ url_for('add_register') }}">
        {{ form.csrf_token }}
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Ano</th>
                <th scope="col">Mês</th>
                <th scope="col">Transação</th>
                <th scope="col">Veiculo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- tr(Row) / td(Collumn) -->
            <tr>
                <td>{{ form.data }}</td>
                <td>{{ form.ano(class_='form-control form-control-sm text-center') }}</td>
                <td>{{ form.mes(class_='btn btn-warning dropdown-toggle text-center') }}</td>
                <td>{{ form.transacao(class_='btn btn-info dropdown-toggle text-center') }}</td>
                <td>{{ form.veiculos(class_='btn btn-primary dropdown-toggle text-center') }}</td>
                <td>{{ form.receitas(class_='btn btn-primary dropdown-toggle text-center') }}</td>
                <td>{{ form.add_btn(class_='btn btn-success') }}</td>
            </tr>
        </tbody>
    </form>
</table>