.add-btn {
    text-decoration: none;
}

.my-body {
    background-color: #212529;
    color: white;
}

.all-col {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}


/* .edit-btn {
    margin-top: 14px;
    font-size: 12px;
}

.delete-btn {
    margin-top: 14px;
    font-size: 12px;
} */

.my-table-header-cars {
    font-size: 18px;
}

.my-table-header-register {
    font-size: 18px;
}

.my-add-form {
    padding: 200px;
}

.t-form {
    color: white;
}